.merge-request {
  margin: 1rem;
  width: 60%;
}

.merge-requests-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;
}

.fact-scroll-viewport {
  height: 75vh;
  width: 200vh;
}

cdk-virtual-scroll-viewport {
  border: 1px solid black;

li {
  list-style: none;
}
}
