.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mat-h1 {
  font-weight: 500;
}

.mat-h3 {
  display: flex;
  margin-bottom: 0%;
  margin-top: 1rem;
}

.emoji-image {
  width: 10rem
}

.emoji-div {
  width: 20%;
}

.card-details {
  width: 80%;
}
