.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mat-h3 {
  display: flex;
}

.emoji-image {
  width: 10rem
}

.emoji-div {
  width: 20%;
}

.card-details {
  width: 80%;
}
