<mat-card>
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="avatarStyle"></div>
    <mat-card-title>{{'@' + mergeRequest.author.username}}</mat-card-title>
    <mat-card-subtitle>{{mergeRequest.author.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    <div class="card-details">
    <span class="mat-h3">
      {{mergeRequest.source_branch}}
      <mat-icon>arrow_forward</mat-icon>
      {{mergeRequest.target_branch}}
    </span>
      <p class="mat-h1" (click)="onNavigate()">
        {{mergeRequest.title}}
      </p>
      <p>
        {{mergeRequest.description}}
      </p>
      <p [ngStyle]="timeStyle">
        Waiting for: {{waitTime}}
      </p>
      <p class="discussions-div" *ngIf="mergeRequest.amountOfResolvableDiscussions !== 0">
        Resolved
        discussions: {{mergeRequest.amountOfResolvableDiscussionsResolved + '/' + mergeRequest.amountOfResolvableDiscussions}}
        <mat-icon class="check-icon"
                  *ngIf="mergeRequest.amountOfResolvableDiscussionsResolved === mergeRequest.amountOfResolvableDiscussions; else warningIcon">
          check_circle
        </mat-icon>
        <ng-template #warningIcon>
          <mat-icon class="warning-icon">warning</mat-icon>
        </ng-template>
      </p>
    </div>
    <div class="emoji-div">
      <img class="emoji-image" [src]="imageURL" (error)="changeEmoji($event)"/>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onNavigate()">
      <mat-icon>thumb_up</mat-icon>
      <span>{{' ' + mergeRequest.upvotes}}</span>
    </button>
    <button mat-button (click)="onNavigate()">
      <mat-icon>thumb_down</mat-icon>
      <span>{{' ' + mergeRequest.downvotes}}</span>
    </button>
  </mat-card-actions>
</mat-card>
