<div style="display: flex; justify-content: center">
  <img src="../assets/logo.png" alt="Git Texas by Igor & Ido" width="20%">
</div>

<div>

  <mat-tab-group mat-align-tabs="center" *ngIf="(api.mergeRequests$ | async) as mergeRequests; else loadingGif">

    <mat-tab label="צוות הלל">
      <app-team-tab [team]="'Hallel'" [mergeRequests]="mergeRequests"></app-team-tab>
    </mat-tab>

    <mat-tab label="צוות פסקל">
      <app-team-tab [team]="'Pascal'" [mergeRequests]="mergeRequests"></app-team-tab>
    </mat-tab>

  </mat-tab-group>
  <ng-template #loadingGif>
    <div class="loading-gif">
      <embed src="../assets/Exs.mp3" loop="true" autostart="true" hidden="true"/>
      <img src="../assets/loading.gif" width="30%"/>
    </div>
  </ng-template>

</div>
